@media (min-width: 1200px) {
    .container .container-fluid {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container .container-fluid {
        width: 100%;
    }

    /** Header Part start**/
    .site-heading {
        font-size: 110px !important;
    }

    .site-para {
        font-size: 30px !important;

    }

    /** About Part start**/
    .left-about {
        width: 55%;
    }

    /** About paragraph **/
    .about-para {
        font-size: 18px;
        line-height: 25px;
    }

    /** Gallary **/
    .photos_item {
        margin-left: 30px !important;
    }

    .photos_item img {
        width: 250px;
        height: 250px;
    }

    /** Payment section **/
    .payment {
        margin-top: 50px;
    }

    /** services icons **/
    .fd-icon {
        width: 124px !important;
        height: 115px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container .container-fluid {
        width: 100%;
    }

    /** Header Part start**/
    .header-wrapper {
        height: 525px !important;
    }

    .site-heading {
        font-size: 90px !important;
    }

    .site-para {
        font-size: 25px !important;

    }

    /** About Part start**/

    .left-about {
        width: 100%;
        margin-bottom: 50px;
    }

    .right-about img {
        margin: 0 auto;
        width: 500px;
        height: 400px;
    }

    /** About paragraph **/
    .about-para {
        font-size: 18px;
        line-height: 25px;
    }

    .clearfix {
        overflow: auto;
    }

    .resize {
        display: inline-block;
        width: 25%;
    }


    /** Offer part **/
    .offer-wrapper {
        height: 400px !important;
    }

    .offer-title {
        font-size: 32px;
    }

    .offer-subtitle {
        font-size: 20px;
    }

    /** food card part **/
    .card-one {
        margin-top: 10px;
        width: 48%;
        float: left;
        clear: right;
    }

    .card-two {
        margin-top: 10px;
        margin-left: 25px;
        clear: both;
        float: right;
        width: 48%;
    }

    .card-three {
        padding-top: 20px;
        margin: 0 auto;
        margin-top: 10px;
        clear: both;
        width: 48%;
        margin-bottom: 20px;
    }

    /** Gallary **/
    .photos_item {
        margin-left: 35px !important;
    }

    .photos_item img {
        width: 275px;
        height: 280px;
    }

    /** services icons **/
    .fd-icon {
        width: 125px !important;
        height: 100px !important;
    }

    .icon-text p {
        text-align: center;
    }

    .client-area {
        margin: 0px;
        margin-bottom: 0px;
    }

    /** Footer part **/
    footer {
        padding: 15px 0px;
    }

    .icons_social {
        margin: 0 auto;
        justify-content: center;
    }

    .brand,
    .contact-h,
    address {
        text-align: center;
    }

    /* address {
        text-align: center;
    } */

    /** Payment section **/
    .payment {
        margin-top: 50px;
        text-align: center;
    }

    .icons_payment {
        margin-top: 40px;
        justify-content: center;
    }

    /**Testimonial**/
    /** Testimonial Head **/
    .test_content {
        width: 680px !important;
    }

    .testmonial {
        left: 42% !important;
    }

    .test_para {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    .container .container-fluid {
        width: 100%;
    }

    /** Navbar **/
    .nav a {
        font-size: 18px !important;
        padding: 15px 8px !important;
    }

    /** Header Part start**/
    .header-wrapper {
        height: 500px !important;
    }

    .site-heading {
        font-size: 60px !important;
    }

    .site-para {
        font-size: 20px !important;

    }

    /** About Part start**/
    /**common class for p**/
    .para-center {
        margin-left: 50px !important;
        text-align: center !important;
        width: 80%;
        display: inline-block;
    }

    /**common class for h1**/
    .about-us-content-wrapper h1,
    .client-content-wrapper h1,
    .test-content-wrapper h1,
    .photo-content-wrapper h1,
    .menu-content-wrapper h1 {
        font-size: 30px !important;
    }

    .about-heading {
        font-size: 25px !important;
    }

    .left-about {
        width: 100%;
        margin-bottom: 50px;
    }

    .right-about img {
        margin: 0 auto;
        width: 400px;
        height: 300px;
    }

    /** About paragraph **/
    .about-para {
        font-size: 18px;
        line-height: 25px;
    }

    .clearfix {
        overflow: auto;
    }

    .resize {
        display: inline-block;
        width: 25%;
    }


    /** Offer part **/
    .offer-wrapper {
        width: 100% !important;
        height: 350px !important;
    }

    .offer-title {
        font-size: 22px;
    }

    .offer-subtitle {
        font-size: 16px;
    }

    a[type=button] {
        font-size: 15px;
        padding: 10px;
    }

    /** food card part **/
    .food_cate {
        font-size: 25px;
        padding: 15px;
    }

    .card-one {
        margin-top: 10px;
        width: 50%;
        float: left;
        clear: both;
    }

    .card-two {
        margin-top: 10px;
        width: 50%;
        float: right;
        clear: both;
    }

    .card-three {
        padding-top: 20px;
        margin: 0 auto;
        margin-top: 10px;
        clear: both;
        width: 48%;
        margin-bottom: 20px;
    }

    .menu_item {
        font-size: 19px !important;
    }

    .menu_price {
        font-size: 19px !important;
        width: 75px !important;
    }

    /** Gallary **/
    .photo_menu_list {
        font-size: 14px !important;
    }

    .photos_item {
        margin-left: 35px !important;
    }

    .photos_item img {
        width: 185px;
        height: 170px;
    }

    /* *Client part* */
    .client-area {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .client-area {
        padding: 20px 0px 35px 0;
    }

    .slide img {
        width: 100px !important;
        height: 80px !important;
    }

    /** services icons **/
    .fd-icon {
        width: 100px !important;
        height: 90px !important;
    }

    .icon-text p {
        text-align: center;
    }

    /** Footer part **/

    .icons_social {
        margin: 0 auto;
        justify-content: center;
    }

    .brand,
    .contact-h,
    address {
        text-align: center;
    }

    /* address {
        text-align: center;
    } */

    /** Payment section **/
    .payment {
        margin-top: 30px;
        text-align: center;
    }

    .icons_payment {
        margin-top: 15px;
        justify-content: center;
    }

    /**Testimonial**/
    /** Testimonial Head **/
    .test_content {
        width: 400px !important;
        padding: 25px 30px !important;
    }

    .Testimonial {
        top: 10%;
        left: 40%;
    }


    .testimonial_wrapper {
        height: 380px !important;
    }

    .test_para {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .test_head {
        font-size: 20px;
    }

    .line-space {
        /** footer para **/
        margin-bottom: 25px;
        text-align: justify;
    }

    footer {
        padding: 0px !important;
    }

    .brand {
        margin-top: 20px;
    }

}

@media screen and (max-width:575px) {
    .container .container-fluid {
        width: 100%;
    }

    /** Navbar **/

    .navbar ul {
        padding: 20px 0px;
    }

    .nav a {
        flex-basis: 1;
        font-size: 16px !important;
        padding: 15px 2px !important;
    }

    /** Header Part start**/
    .header-wrapper {
        height: 400px !important;
    }

    .site-heading {
        font-size: 40px !important;
    }

    .site-para {
        font-size: 18px !important;

    }

    /** About Part start**/
    /**common class for p**/
    .para-center {
        font-size: 16px;
        margin-left: 25px !important;
        text-align: center !important;
        width: 80%;
        display: inline-block;
    }

    /**common class for h1**/
    .about-us-content-wrapper h1,
    .client-content-wrapper h1,
    .test-content-wrapper h1,
    .photo-content-wrapper h1,
    .menu-content-wrapper h1 {
        font-size: 25px !important;
    }

    .left-about {
        width: 100%;
        margin-bottom: 50px;
    }

    .right-about img {
        margin: 0 auto;
        max-width: 100%;
        height: 300px;
    }

    /** About paragraph **/

    .about-heading {
        font-size: 20px;
    }

    .about-para {
        display: none;
    }

    .clearfix {
        overflow: auto;
    }


    /** Offer part **/
    .offer-wrapper {
        width: 100% !important;
        height: 350px !important;
    }

    .offer-title {
        font-size: 22px;
    }

    .offer-subtitle {
        font-size: 16px;
    }

    a[type=button] {
        font-size: 15px;
        padding: 10px;
    }

    /** food card part **/
    .food_cate {
        font-size: 25px;
        padding: 0px;
    }

    .card-one {
        margin-top: 10px;
        width: 100%;
        /* float: left;
        clear: both; */
    }

    .card-two {
        margin-top: 10px;
        width: 100%;
        /* float: right;
        clear: both; */
    }

    .card-three {
        /* padding-top: 20px; */
        /* margin: 0 auto; */
        margin-top: 10px;
        /* clear: both; */
        width: 100%;
        margin-bottom: 20px;
    }

    .menu_item {
        font-size: 19px !important;
    }

    .menu_price {
        font-size: 19px !important;
        width: 75px !important;
    }

    /** Gallary **/
    .photo_menu_list {
        font-size: 14px !important;
        padding: 7px !important;
    }


    .photos_item img {
        width: 100%;
        height: 80%;
    }

    /* *Client part* */
    .client-area {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .slide img {
        width: 100px !important;
        height: 80px !important;
    }

    /** services icons **/
    .fd-icon {
        width: 50px !important;
        height: 66px !important;
    }

    .left-about {
        margin-bottom: 0px;
    }

    #space {
        margin: 5px 0px;
    }

    .fd-icon i {
        font-size: 35px;
    }

    .resize {
        display: inline-block;
        width: 23.5%;
    }

    .icon-text {
        width: 55px !important;
        height: 130px !important;
    }

    .icon-text p {
        text-align: center;
        font-size: 12px;
    }

    /** Footer part **/

    .icons_social {
        margin: 0 auto;
        justify-content: center;
    }

    .brand,
    address {
        text-align: center;
    }

    /* address {
        text-align: center;
    } */

    /** Payment section **/
    .payment {
        margin-top: 25px;
        text-align: center;
    }

    /**Testimonial**/
    /** Testimonial Head **/
    .test_content {
        max-width: 300px !important;
        padding: 12px !important;
    }

    .Testimonial {
        font-size: 18px;
        top: 10%;
        left: 40%;
    }

    .testimonial_wrapper {
        height: 450px !important;
    }

    .test_para {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .test_head {
        font-size: 20px;
    }


    /** Footer Start **/

    footer {
        padding: 0px !important;
    }

    .line-space {
        /** footer p **/
        line-height: 25px;
        text-align: justify;
        margin-bottom: 30px;
    }

    .brand {
        font-size: 35px;
        margin-top: 20px;
    }

    .contact-h {
        margin-top: 15px;
        margin-bottom: 18px;
        font-size: 28px;
        text-align: center;
    }

    .icons_payment {
        margin-top: 15px;
        justify-content: center;
        padding-left: 20px;
    }

}