 /* * Prototype* */
 $fontfamily-one: 'Playfair Display',
 serif;
 $fontfamily-two: 'Merienda',
 cursive;
 $header-wrapper: #fff;



 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #eee;
     font-family: $fontfamily-one;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 .pad-70 {
     padding: 70px 0px;
 }

 .mar-50 {
     margin-bottom: 50px;
 }


 @import 'header';
 @import 'aboutus';
 @import 'offer';
 @import 'menu';
 @import 'photoGallary';
 @import 'testimonial';
 @import 'footer';